# IntelliJ + Eclipse
.idea
*.iml
*.classpath
*.project
*.settings/

# Maven / Gradle output
target/
build/

# Git
.git
.gitignore

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp
*.bak
*.swp
