# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Sistem de operare
.DS_Store
Thumbs.db

# Config Java
*.class

# Fișiere generate
*.jar
*.war
*.ear

# Config IDE
.vscode/
