.dropdown-green {
	background-color: #d4edda;
	color: #155724;
}

.dropdown-yellow {
	background-color: #fff3cd;
	color: #856404;
}

.dropdown-red {
	background-color: #f8d7da;
	color: #721c24;
}

.dropdown-auto-width {
	width: auto;
	display: inline-block;
}

.table td, .table th {
    text-align: center;
    vertical-align: middle;
}

.gap-2 {
    gap: 8px;
}

.statusDropdown {
    width: auto;
    min-width: 120px;
    text-align: center;
}

.custom-margin {
	margin-left: 370px;
}