body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-image: url('/images/istockphoto1.jpg');
	background-size: cover;
	background-position: center;
}

.container {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

.form-group {
	margin-bottom: 15px;
	text-align: left;
}

h1 {
	margin-bottom: 20px;
}

button {
	width: 100%;
}

.dropdown-auto-width {
	width: auto;
	display: inline-block;
}