body {
	background-color: #f8f9fa;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('/images/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.wheel-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.2rem;
	justify-items: center;
	align-items: center;
	min-height: 100vh;
	padding: 2rem;
}

.wheel {
	width: 170px;
	height: 170px;
	border: 8px solid #d2a679;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url('/images/cat.png');
	background-size: cover;
	background-position: center;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	font-weight: bold;
	font-size: 1.2rem;
	color: #333333;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	position: relative;
}

.wheel:hover {
	transform: scale(1.1);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.wheel a {
	text-decoration: none;
	color: inherit;
	position: relative;
	top: 24px;
}

.navbar-title {
	margin: 0 auto;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.notification-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;
}