.custom-margin {
	margin-left: 300px;
}

.navbar-title {
	margin: 0 auto;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
}

.dropdown-auto-width {
	width: auto;
	display: inline-block;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-spacing {
    min-width: 180px;
    text-align: center;
}
