<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Add Supplier</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container text-center">
    <h1>Add Product for Supplier</h1>
    <form th:action="@{/suppliers/{supplierId}/add-product(supplierId=${supplierId})}"
          th:object="${supplierProduct}" method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{supplier.id}" />
        <label class="form-label">Product Name:</label>
        <input type="text" th:field="*{product.name}" class="form-control" required placeholder="Enter product name">
        <label class="form-label">Price:</label>
        <input type="number" th:field="*{price}" step="0.01" class="form-control" required>
        <label class="form-label">Unit of Measure:</label>
        <select th:field="*{unitOfMeasure}" class="form-control">
            <option th:each="unit : ${unitsOfMeasure}" th:value="${unit}" th:text="${unit}"></option>
        </select>
        <label class="form-label">Description:</label>
        <textarea th:field="*{productDescription}" class="form-control"></textarea>
        <label class="form-label">Non-Conformities:</label>
        <textarea th:field="*{nonConformities}" class="form-control"></textarea>
        <button type="submit" class="btn btn-primary mt-3">Add Product</button>
    </form>
</div>
</body>

</html>