<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add Suppliers</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/add_supplier.css">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{${#authorization.expression('hasRole(''PROCUREMENT_MANAGER'')') ? '/procurement-manager/home-page' : '/warehouse-manager/home-page'}}">
                <img src="/images/icon.jpg" alt="My Logo" width="45" height="45" class="d-inline-block align-text-center">
                SweetSupplierManager
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample08">
                <ul class="navbar-nav custom-margin">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/suppliers/list}">Suppliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders/in-process}">Orders</a>
                    </li>
                </ul>

                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button type="submit" class="btn btn-sm btn-warning">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container text-center">
    <h1 th:text="${supplier.id == null} ? 'Add New Supplier' : 'Edit Supplier'"></h1>
    <form th:action="@{/suppliers/save-edit}" th:object="${supplier}" method="post" style="max-width: 600px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="reg-code">Registration Code:</label>
            <input type="text" id="reg-code" th:field="*{RegistrationUniqueCode}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="contact-person">Contact Person:</label>
            <input type="text" id="contact-person" th:field="*{contactPerson}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="phone-number">Phone Number:</label>
            <input type="text" id="phone-number" th:field="*{phoneNumber}" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="delivery-days">Delivery Days:</label>
            <select id="delivery-days" th:field="*{deliveryDays}" class="form-control" multiple>
                <option th:each="day : ${T(com.mybakery.sweet_suppliers.Enums.DeliveryDays).values()}"
                        th:value="${day}" th:text="${day}"></option>
            </select>
            <small class="form-text text-muted">Hold down Ctrl (Windows) or Command (Mac) to select multiple days.</small>
        </div>
        <button type="submit" class="btn btn-primary mt-3" th:text="${supplier.id == null} ? 'Add Supplier' : 'Update Supplier'"></button>
    </form>
</div>
</body>
</html>