<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Edit Product</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<div class="container text-center">
    <h2 th:text="${supplierProduct.id} ? 'Edit Product' : 'Add Product'"></h2>
    <form th:action="@{/products/save-edit/{supplierId}(supplierId=${supplierId})}"
          th:object="${supplierProduct}" method="post" style="max-width: 600px; margin: 0 auto;">
        <!-- Product Id (hidden) -->
        <input type="hidden" th:field="*{id}" />
        <!-- Supplier ID (hidden) -->
        <input type="hidden" th:field="*{supplier.id}" />
        <!-- Product Name -->
        <label class="form-label">Product Name:</label>
        <input type="text" th:field="*{product.name}" class="form-control" required>
        <!-- Product Price -->
        <label class="form-label">Price:</label>
        <input type="number" th:field="*{price}" step="0.01" class="form-control" required>
        <!-- Product Unit of Measure -->
        <label class="form-label">Unit of Measure:</label>
        <select th:field="*{unitOfMeasure}" class="form-control">
            <option th:each="unit : ${unitsOfMeasure}" th:value="${unit}" th:text="${unit}"></option>
        </select>
        <!-- Product Description -->
        <label class="form-label">Description:</label>
        <textarea th:field="*{productDescription}" class="form-control"></textarea>
        <!-- Product Non-Conformities -->
        <label class="form-label">Non-Conformities:</label>
        <textarea th:field="*{nonConformities}" class="form-control"></textarea>

        <!-- Product Status -->
        <div class="form-group">
            <label class="form-label">Product Status:</label><br>
            <select id="status" th:field="*{productStatus}" class="form-control">
                <option value="" disabled selected>Select a status</option>
                <option th:each="productStatus : ${productStatuses}" th:value ="${productStatus}" th:text="${productStatus}"></option>
            </select>
        </div><button type="submit" class="btn btn-primary mt-3"th:text="${supplierProduct.id} ? 'Save Changes' : 'Add Product'"></button>

    </form>
</div>
</body>

</html>