<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>Change Password</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/create_order.css">
</head>

<body>
<div class="container text-center">
    <h2>Change Your Password</h2>

    <form th:action="@{/admin/change-own-password}" method="post">
        <label>Current Password:</label>
        <input type="password" name="currentPassword" required /><br/>

        <label>New Password:</label>
        <input type="password" name="newPassword" required minlength="6" /><br/>

        <button type="submit" class="btn btn-success">Change Password</button>
    </form>

    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
</div>
</body>

</html>