<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>Create a New Order</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/create_order.css">
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{${#authorization.expression('hasRole(''PROCUREMENT_MANAGER'')') ? '/procurement-manager/home-page' : '/warehouse-manager/home-page'}}">
                <img src="/images/icon.jpg" alt="My Logo" width="45" height="45" class="d-inline-block align-text-center">
                SweetSupplierManager
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample08">
                <ul class="navbar-nav custom-margin">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/suppliers/list}">Suppliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders/in-process}">Orders</a>
                    </li>
                </ul>

                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button type="submit" class="btn btn-sm btn-warning">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container text-center">
    <h1>Create a New Order</h1>
    <form th:action="@{/orders/create}" th:object="${order}" method="post">
        <div class="form-group">
            <label for="name">Order Name:</label>
            <input type="text" id="name" th:field="*{name}" required placeholder="Order for: **/**/****">
        </div>
        <br>
        <div class="form-group">
            <label for="supplier">Select Supplier:</label>
            <select id="supplier" th:field="*{supplierId}" class="form-control">
                <option value="" disabled selected>Select a supplier</option>
                <option th:each="supplier : ${suppliers}"
                        th:value="${supplier.id}"
                        th:text="${supplier.name}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Create Order</button>
    </form>
    <script th:src="@{/js/create_order_form.js}"></script>
</div>
</body>

</html>