<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>All Orders</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<h1>All Orders</h1>

<table>
    <thead>
    <tr>
        <th>Order Name</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.name}"></td>
        <td th:text="${order.status}"></td>
        <td>
            <a th:href="@{/orders/{orderId}/details(orderId=${order.id})}">View Details</a>
        </td>
    </tr>
    </tbody>
</table>

<a th:href="@{/orders/create}">Create New Order</a>
</body>

</html>