<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>Pending Orders</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/order_list.css">
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{${#authorization.expression('hasRole(''PROCUREMENT_MANAGER'')') ? '/procurement-manager/home-page' : '/warehouse-manager/home-page'}}">
                <img src="/images/icon.jpg" alt="My Logo" width="45" height="45">
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample08">
                <p class="navbar-title">SweetSupplierManager</p>
                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button type="submit" class="btn btn-sm btn-warning">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="container text-center">
    <br>
    <div>
        <h1>Orders to Receive</h1>
    </div>
    <br>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Order Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.name}"></td>
                <td th:text="${order.status}"></td>
                <td>
                    <a th:href="@{/orders/to-receive/{orderId}/details(orderId=${order.id})}" class="btn btn-info">See order</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>