<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>Out of Stock List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/supplier_list.css">
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{${#authorization.expression('hasRole(''PROCUREMENT_MANAGER'')') ? '/procurement-manager/home-page' : '/warehouse-manager/home-page'}}">
                <img src="/images/icon.jpg" alt="My Logo" width="45" height="45" class="d-inline-block align-text-center">
                SweetSupplierManager
            </a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample08">
                <ul class="navbar-nav custom-margin">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/suppliers/list}">Suppliers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders/in-process}">Orders</a>
                    </li>
                </ul>

                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button type="submit" class="btn btn-sm btn-warning">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>

<div class="container text-center">
    <br>
    <div>
        <h2>Out of Stock List</h2>
    </div>
    <br>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Existing quantity</th>
                <th>Added</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${restockItems}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.existingQuantity}"></td>
                <td th:text="${#temporals.format(item.addedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <form th:action="@{/products/restock-item/remove/{id}(id=${item.id})}" method="post">
                        <button type="submit" class="btn btn-danger mt-3">Restock</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <h3>Add product to list</h3>
        <form th:action="@{/products/restock/add}" method="post">
            <select name="productId">
                <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.name}"></option>
            </select>
            <input type="text" name="quantity" placeholder="Existing quantity">
            <button type="submit" class="btn btn-success mt-3">Add</button>
        </form>
    </div>
</div>

</body>
</html>