<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="ISO-8859-1">
    <title>List Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarsExample08">

                <span class="navbar-text text-white" th:text="'Welcome ' + ${#authentication.principal.firstName}"></span>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/suppliers}">Suppliers List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/suppliers/add}">Add new supplier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >Home page</a>
                    </li>
                </ul>

                <form th:action="@{/logout}" method="post" class="d-flex">
                    <button type="submit" class="btn btn-warning">Sign Out</button>
                </form>
            </div>
        </div>
    </nav>
</div>



<div class="container text-center">
    <br>
    <div>
        <h1>List of Users</h1>
    </div>
    <br>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td th:text="${user.firstName}">First Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.email}">E-mail</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>